<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Main Page </title>
</head>
<body>
    <h3> Cargando la topología... </h3>
    <ul>
        {% for router in routers.keys() %}
            <li> {{router}} - {{ routers[router] }}</li>
        {% endfor %}
    </ul>
    <h3> Generando urls... </h3>
    <ul>
        {% for url in urls %}
            <li> <a href="http://0.0.0.0:5000{{ url }}"> URL: {{ url }}</a> </li>
        {% endfor %}
    </ul>
    
</body>
</html>